<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partiais/head') %>
    <title>HomePage</title>
  </head>
  <body>
    <%- include('../partiais/nav') %> <%- include('../partiais/script') %>
  </body>
</html>
